logging:
  level:
    liquibase: INFO
spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default-schema: car_rental
  test:
    database:
      replace: none
  flyway:
    locations: classpath:db/migration
