# Source: https://github.dev/IBM/actions-ibmcloud-iks

name: Build and deploy to IBM Kubernetes

on:
  push:
    branches:
      - release/part1

env:
  GITHUB_SHA: ${{ github.sha }}
  IBM_CLOUD_API_KEY: ${{ secrets.IBM_CLOUD_API_KEY }}
  IBM_CLOUD_REGION: eu-de
  K8S_NAMESPACE: part1 # ADAPT!
  IMAGE_NAME: se-car-rental-service-part1 # ADAPT!
  IKS_CLUSTER: ${{ secrets.IKS_CLUSTER }} # name or id of cluster
  DEPLOYMENT_NAME: se-car-rental-service-part1 # ADAPT!
  INTERNAL_PORT: 8080 # ADAPT!
  EXTERNAL_PORT: 32766 # ADAPT!
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  CURRENCY_CONVERTER_URL: http://169.51.206.49:32767/?wsdl
  POSTGRES_SERVICE_NAME: postgres


jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Checkout
        uses: actions/checkout@v2
      # Download and Install IBM Cloud CLI
      - name: Install IBM Cloud CLI
        run: |
          curl -fsSL https://clis.cloud.ibm.com/install/linux | sh
          ibmcloud login --apikey "${IBM_CLOUD_API_KEY}" -r "${IBM_CLOUD_REGION}" -g Default
          ibmcloud --version
          ibmcloud api https://cloud.ibm.com
          ibmcloud config --check-version=false
          ibmcloud plugin install -f kubernetes-service
          ibmcloud plugin install -f container-registry
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      # Build with maven
      - name: Build with Maven
        run: mvn -DCURRENCY_CONVERTER_URL=${CURRENCY_CONVERTER_URL} --file=pom.xml --batch-mode --update-snapshots clean install
      # Build docker image
      - name: Build with Docker
        run: |
          docker build -t "$DOCKER_USER"/"$IMAGE_NAME":"$GITHUB_SHA" \
            --build-arg GITHUB_SHA="$GITHUB_SHA" \
            --build-arg GITHUB_REF="$GITHUB_REF" .
      # Push the image to Dockerhub
      - name: Push the image to Dockerhub
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
          docker push $DOCKER_USER/$IMAGE_NAME:$GITHUB_SHA
      # Deploy the Docker image to the IKS cluster
      - name: Deploy to IKS
        # Change the service type to the actual service
        run: |
          ibmcloud login --apikey "${IBM_CLOUD_API_KEY}" -r "${IBM_CLOUD_REGION}" -g Default
          ibmcloud ks cluster config --cluster $IKS_CLUSTER
          kubectl create namespace $K8S_NAMESPACE --dry-run=client -o yaml > namespace.yaml
          kubectl apply -f namespace.yaml
          kubectl config set-context --current --namespace=$K8S_NAMESPACE
          kubectl create configmap $DEPLOYMENT_NAME --from-literal=CURRENCY_CONVERTER_URL=${CURRENCY_CONVERTER_URL} --from-literal=POSTGRES_SERVICE_NAME=${POSTGRES_SERVICE_NAME} --dry-run -o yaml > configmap.yaml
          kubectl apply -f configmap.yaml
          kubectl create deployment $DEPLOYMENT_NAME --image="$DOCKER_USER"/"$IMAGE_NAME":"$GITHUB_SHA" --dry-run -o yaml > deployment.yaml
          kubectl apply -f deployment.yaml
          kubectl set env deployment/$DEPLOYMENT_NAME --from=configmap/$DEPLOYMENT_NAME
          kubectl rollout status deployment/$DEPLOYMENT_NAME
          kubectl create service nodeport $DEPLOYMENT_NAME --tcp=$EXTERNAL_PORT:$INTERNAL_PORT --node-port=$EXTERNAL_PORT --dry-run -o yaml > service.yaml
          kubectl apply -f service.yaml
          kubectl get services -o wide
